.home
  .title
    %h1 Curriculum Vitae
    %h2 April 2015

  != require_template("_contact")

  != require_template("_qualifications")

  != require_template("_skills")

  != require_template("_open-source")

  != require_template("_history")

  != require_template("_publications")

  != require_template("_community")

  != require_template("_references")
